<% flash.each do |flash_type, message| %>
  <div
    class="alert alert-success"
    data-controller="removals"
    data-action="animationend->removals#remove" >
		<%# trigger the action  when the css animation ends%>

    <%= message %>
  </div>
<% end %>
